*{
    width:  100vw;
    height:  100vh;
    margin: auto;
}

body{
    background-image: href=("https://plsr12.github.io/Happy-New-Year/new-year.jpg");
}

h1{
    color:rgb(255, 255, 255);
    text-align: center;
    margin-top: 250px ;
    font-size: 100px;
}

 
